<section>
  <figure>
    <img src="" alt="">
  </figure>
  <h2>{{player.id}}</h2>
  <h3>{{player.profile.team}}</h3>
  <div *ngIf="stats" class="profile">
    <ul>
      <li>Age: {{player.profile.age}}</li>
      <li>Role: {{player.profile.role}}</li>
    </ul>
    <button class="button button--medium" (onclick)="stats=!stats">Stats</button>
  </div>
  <div *ngIf="!stats" class="stats">
    <ul>
      <li>Games: {{player.stats.gamesPlayed}}</li>
      <li>Goals: {{player.stats.goals}}</li>
      <li>Passing Acurracy: {{player.stats.passingAccuracy}}</li>
      <li>Fouls: {{player.stats.foulsConceded}}</li>
      <li>Red Cards: {{player.stats.redCards}}</li>
      <li>Yellow Cards: {{player.stats.yellowCards}}</li>
    </ul>
    <button class="button button--small" (onclick)="stats=!stats">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</section>
