section {
  background-color: var(--yellow-background);
  min-height: 530px;
  height: 100%;
  border-radius: 5px;
}
section > figure {
  width: 100%;
  height: 170px;
  margin-bottom: 25px;
  padding: 0;
  margin: 0;
}
section > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section > h2 {
  margin-top: 25px;
  margin-bottom: -10px;
  font-size: 3.2rem;
  line-height: 6rem;
  text-transform: uppercase;
}
section > h3 {
  margin-top: 0px;
  text-align: center;
  font-weight: 200;
}
ul > li {
  font-family: var(--paragraph-font);
  font-size: 1.6rem;
  line-height: 3rem;
}
.profile {
  display: grid;
  margin-top: 30px;
  justify-content: center;
}
.profile ul {
  display: grid;
  gap: 5px;
  justify-content: center;
}
.profile .button {
  margin-top: 60px;
}
.stats {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 15px 30px 30px 30px;
}

@media (min-width: 900px) {
  section > h2 {
    margin-top: 50px;
    margin-bottom: -10px;
  }
  .profile {
    margin-top: 70px;
  }
  .stats {
    margin-top: 50px;
  }
}
