<section>
  <figure>
    <img src="{{player.profile.picture}}" alt="">
  </figure>
  <h2>{{player.id}}</h2>
  <h3>{{player.profile.team}}</h3>
  <div *ngIf="!showStats" class="profile">
    <ul>
      <li>Age: {{player.profile.age}} years old</li>
      <li>Role: {{player.profile.role}}</li>
    </ul>
    <button mat-button class="button button--medium" (click)="showStats=true">Stats</button>
  </div>
  <div *ngIf="showStats" class="stats">
    <ul>
      <li>Games: {{player.stats.gamesPlayed}}</li>
      <li>Goals: {{player.stats.goals}}</li>
      <li>Passing Acurracy: {{player.stats.passingAccuracy}}%</li>
      <li>Fouls: {{player.stats.foulsConceded}}</li>
      <li>Red Cards: {{player.stats.redCards}}</li>
      <li>Yellow Cards: {{player.stats.yellowCards}}</li>
    </ul>
    <button mat-button class="button button--small" (click)="showStats=false">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</section>
