<mat-card class="card">
  <section class="section1">
    <h1>Player Archive</h1>
    <figure>
      <img src="assets/football.png" aria-hidden="true" alt="">
    </figure>
    <form [formGroup]="form" (ngSubmit)="searchPlayer()">
      <mat-form-field appearance="outline" class="input">
        <mat-label>Enter player's id:</mat-label>
        <input type="text" matInput placeholder="Enter player's id" formControlName="playerId">
      </mat-form-field>
      <button mat-stroked-button class="button button--default" type="submit">Submit</button>
    </form>
  </section>
  <app-not-found-card></app-not-found-card>
</mat-card>
