/* You can add global styles to this file, and also import other style files */

:root {
  --red-background: #d42f2f;
  --blue-background: #0b66bb;
  --yellow-background: #ddda36;
  --white: white;
  --black: black;
  --gradient-background:  linear-gradient(90deg, #021868 -34.37%, #132D8C 36.22%, #3355CF 115.13%);
  --title-font: "Exo", sans-serif;
  --paragraph-font: "Cairo", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  display: grid;
  margin: 0;
  height: 100%;
  align-items: center;
  font-family: var(--paragraph-font);
  font-size: 1.4rem;
  background: var(--gradient-background);
}
h1 {
  font-family: var(--title-font);
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 4.8rem;
}
h2 {
  font-family: var(--paragraph-font);
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 4.8rem;
  text-align: center;
}
h3 {
  font-family: var(--paragraph-font);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 3.4rem;
  text-align: center;
}
p {
  font-family: var(--paragraph-font);
  font-size: 1.4rem;
}

/*-----BUTTON-----*/
.button {
  text-transform: uppercase;
  background-color: var(--blue-background);
  color: var(--white);
}
.button--default {
  width: 252px;
  height: 34px;
}
.button--medium {
  width: 180px;
  height: 34px;
}
.button--small {
  width: 35px;
  height: 35px;
}
@media (min-width: 900px) {
  body {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  h1 {
    font-size: 6.4rem;
    line-height: 8.5rem;
  }
  .button--default {
    width: 350px;
  }
  .button--medium {
    width: 250px;
  }
  .button--small {
    width: 50px;
  }
}
